# Rename this file to pkg.cfg and fill in the values below
# The hostname of the Windows system (eg, windows-dev.local)
WINDOWS_SSH_HOST=""
# The full path to the workspace directory on Windows (eg, C:/Users/dev/projects/bak9)
WINDOWS_SSH_WORKSPACE_DIR=""
# The hostname of the macOS system (eg, macos-dev.local)
MACOS_SSH_HOST=""
# The full path to the workspace directory on macOS (eg, /Users/dev/projects/bak9)
MACOS_SSH_WORKSPACE_DIR=""


